* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #191919;
    background-color: #F8F8F8;

    font-family: "Anonymous Pro", monospace;
    font-size: 16px;

    text-rendering: optimizeLegibility;
}

body.hover {
    background-color: #DDDDDD;
}


body.active #canvas {
    margin: 0 auto;
}

.wrapper {
    display: grid;

    height: 100%;

    text-align: center;

    align-items: center;
    justify-content: center;
}


.info h1 {
    height: 1em;
    margin: 0;
    padding: 0;

    font-size: 5vw;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

.info h2 {
    font-size: 3vw;
}

.error {
    color: #990000;
}

.result {
    position: fixed;
    top: 10px;
    right: 10px;

    width: 250px;
    margin: 0 auto;
    padding: 3px;

    text-align: left;

    border: 1px dashed #DDDDDD;
    background: #FFFFFF;
}

.text {
    float: left;
}

.color {
    float: left;

    width: 50px;
    height: 50px;
    margin: 1em;

    border: 1px solid #111111;
    background: #DDDDDD;
}

#canvas {
    padding: 20px;

    border: 3px dashed #191919;
}

/* Hide when active */
body.active .info,
.canvas,
.result {
    display: none;
}

/* Show when active */
body.active .result {
    display: block;
}

body.active .canvas {
    display: grid;
}
