* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: 16px;

  color: #191919;
  background-color: #f8f8f8;

  text-rendering: optimizeLegibility;
}

body.hover {
  background-color: #ddd;
}

body.active .canvas {
  margin: 0 auto;
}

.canvas-wrapper,
.info {
  display: grid;

  height: 100%;

  text-align: center;

  place-items: center;
}

.info h1 {
  font-size: 5vw;
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  height: 1em;
  margin: 0;
  padding: 0;
}

.info h2 {
  font-size: 3vw;
}

.error {
  color: #900;
}

.result {
  position: fixed;
  top: 10px;
  right: 10px;

  display: grid;

  margin: 0 auto;
  padding: 3px;

  border: 1px dashed #ddd;
  background: #fff;

  grid-template-columns: 85px 200px;
}

.color {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin: 1em;

  border: 1px solid #111;
  background: #ddd;

  align-self: center;
}

.canvas {
  cursor: crosshair;
}

/* Hide when active */
body.active .info,
.canvas-wrapper,
.result {
  display: none;
}

/* Show when active */
body.active .result,
body.active .canvas-wrapper {
  display: grid;
}
